     body {
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      text-align: center;
    }

    h1 {
      margin-bottom: 30px;
    }

    
    .cards-container {
      display: grid;
      grid-template-columns: repeat(2, 200px);
      grid-gap: 25px;
      justify-content: center;
    }

    .card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      color: black;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      overflow: hidden;
    }

    .card:hover {
      transform: translateY(-6px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }

    .card img {
      display: flex;
      justify-content: center;
      width: 50%;
    }

    .card h2 {
      font-size: 18px;
      margin: 10px 0 15px 0;
    }

    @media (max-width: 500px) {
      .cards-container {
        grid-template-columns: 1fr;
      }
    }